<div class="navbar">
  <div class="navbar__logo">
    <a routerLink="/home">
      <img src="./assets/kidpaor-logo.png" alt="kidpaor-logo">
    </a>
  </div>

  <ng-container [ngTemplateOutlet]="screenWidth >= 1200 ? desktopSize : mobileSize"></ng-container>

  <ng-template #mobileSize>
    <div class="navbar__mobile">
      <button
        tuiIconButton
        type="button"
        appearance="icon"
        icon="tuiIconMenuLarge"
        class="navbar__mobile__button"
        (click)="toggleNavBar()"
      ></button>
    </div>
  </ng-template>

  <ng-template #desktopSize>
    <div class="navbar__links">
      <ng-container *ngTemplateOutlet="menuList"></ng-container>
    </div>
  </ng-template>

  <ng-template #menuList>
    <button
      *ngFor="let nav of menu"
      #rta="routerLinkActive"
      appearance="mono"
      type="button"
      size="m"
      [ngClass]="{'active-nav-margin': rta.isActive, 'hide-nav': !nav.permission}"
      [routerLink]="nav.url"
      class="navbar__button nav-items"
      routerLinkActive
      tuiButton
    >
      {{ nav.name | translate }}
      <tui-svg src="tuiIconCircle" @slideInOut *ngIf="rta.isActive" class="active-nav"></tui-svg>
    </button>
    <app-language-switcher-component></app-language-switcher-component>
    <tui-hosted-dropdown
      tuiDropdownAlign="left"
      tuiDropdownDirection="bottom"
      [sided]="true"
      [content]="dropdown"
      [(open)]="open"
    >
      <tui-svg class="navbar__user" src="tuiIconUserLarge"></tui-svg>
    </tui-hosted-dropdown>
    <ng-template
      #dropdown
    >
      <div class="user-options">
        <tui-opt-group>
          <div class="admin-container">
            <tui-svg class="admin-container__icon" src="tuiIconMonitorLarge"></tui-svg>
            <p class="admin-container__text">ADMIN</p>
          </div>
        </tui-opt-group>
        <tui-opt-group>
          <app-user-logout-component></app-user-logout-component>
        </tui-opt-group>
      </div>
    </ng-template>
  </ng-template>
</div>

<div *ngIf="isMenuOpen" class="navbar__menu">
  <ng-container *ngTemplateOutlet="menuList"></ng-container>
</div>
