<app-basic image="../../../assets/kidpaor-start-page.jpeg">
  <div class="start-page__content">
    <h1 class="kidpaor-title text-primary">{{ 'KidpaorTitle' | translate}}</h1>
    <p class="kidpaor-subtitle text-primary">{{ 'WelcomePage' | translate}}</p>
    <div class="start-page__language">
      <p class="start-page__language__select">{{ 'SelectLanguage' | translate}}</p>
      <app-language-switcher-component></app-language-switcher-component>
    </div>
    <div class="start-page__content__button-container">
      <a class="link-page" routerLink="/login">{{ 'SignIn' | translate}}</a>
      <p class="choose-option">{{ 'ChooseOption' | translate}}</p>
      <a class="link-page" routerLink="/register">{{ 'SignUp' | translate}}</a>
    </div>
  </div>
</app-basic>
