@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~normalize.css';

* {
  font-family: Mitr, 'sans-serif';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
