@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~normalize.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.nav-items {
  font-family: Merriweather, 'sans-serif';
}
