.wrapper {
  width: 340px;
  height: 300px;
  border-radius: 3rem;
  background: white;
  transition: all .2s ease-in-out;

  .activity {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;

    &__image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 220px;
      border-radius: 3rem 3rem 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }

    &__date {
      position: absolute;
      right: 4%;
      top: 5%;
      display: flex;
      align-items: center;
      gap: 0.4rem;

      &__icon {
        color: white;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.2rem;
      }

      &__text {
        font-family: Mitr, 'sans-serif';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6rem;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
      }
    }

    &__title {
      margin-left: 1.5rem;
      font-family: Mitr, 'sans-serif';
      font-weight: 500;
      font-size: 2rem;
      line-height: 3.1rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.2em;
      color: rgba(210, 148, 50, 0.7);
    }

    &__location {
      margin-left: 1.5rem;
      display: flex;
      gap: 0.4rem;
      align-items: center;

      &__icon {
        color: rgba(17, 31, 36, 0.75);
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.2rem;
      }

      &__name {
        font-family: Mitr, 'sans-serif';
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.2rem;
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        color: rgba(17, 31, 36, 0.75);
      }
    }
  }
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}
