<div class="wrapper" [routerLink]="['/activities', activity.id]">
  <div class="activity">
    <img class="activity__image" [src]="getActivityImage(activity.imageName)" alt="activity-image">
    <div class="activity__date">
      <tui-svg src="tuiIconCalendarLarge" class="activity__date__icon"></tui-svg>
      <p class="activity__date__text">{{ activity.dateStart | date: 'dd/MM/yyyy' }}</p>
    </div>
    <p class="activity__title">{{ activity.title | truncate: [25, '...'] }}</p>
    <div class="activity__location">
      <tui-svg src="tuiIconMapPinLarge" class="activity__location__icon"></tui-svg>
      <p class="activity__location__name">{{ activity.location | truncate: [25, '...'] }}</p>
    </div>
  </div>
</div>
