.language-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding-right: 0.6rem;
  transition: all .2s ease-in-out;

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.language-wrapper:hover {
  transform: scale(1.05);
}

::ng-deep .language-select .t-wrapper {
  font-family: Merriweather, 'sans-serif';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #F7D289;
  background: transparent;
  padding: 0 !important;
}

::ng-deep .language-select-items {
  font-family: Merriweather, 'sans-serif' !important;
  font-size: 1rem !important;
  line-height: 1.4rem !important;
  letter-spacing: 0.03em;
}

::ng-deep .language-select .t-wrapper:active {
  background: transparent;
  color: #F7D289 !important;
}

::ng-deep .language-select .t-wrapper:hover {
  background: transparent;
  color: #D29432 !important;
}

@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .language-wrapper {
    &__icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  ::ng-deep .language-select .t-wrapper {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  ::ng-deep .language-select-items {
    font-size: 1.2rem !important;
  }
}
