<app-kidpaor-layout image="../../../assets/kidpaor-home-page.png">
  <div class="home-page__content">
    <div class="home-page__content__top-part">
      <h1 class="welcome-kidpaor">{{ 'WelcomeToKidpaor' | translate}}</h1>
      <p class="site-use">{{ 'SiteUse1' | translate}}</p>
      <p class="site-use">{{ 'SiteUse2' | translate}}</p>
    </div>
    <div class="home-page__content__bottom-part">
      <a class="link-page" routerLink="/activities">{{ 'BrowseActivities' | translate}}</a>
    </div>
  </div>
</app-kidpaor-layout>
