.home-page {
  &__content {
    position: absolute;
    top: 25%;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    width: 37%;

    &__top-part {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
    }

    &__bottom-part {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.welcome-kidpaor {
  width: 80%;
  font-family: Mitr, 'sans-serif';
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 7.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FACE4D;
}

.welcome-kidpaor:hover {
  color: #796156;
}

.site-use {
  width: 60%;
  font-family: Mitr, 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.link-page {
  display: flex;
  font-family: Mitr, 'sans-serif';
  background: #75512F;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 4rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.1rem;
  color: #F7D289;
  text-align: center;
  transition: all .2s ease-in-out;
}

.link-page:hover {
  background: #F7D289;
  color: #D29432;
}

.link-page:active {
  transform: scale(0.9);
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
  .home-page {
    &__content {
      top: 25%;
      right: 0;
      width: 100%;

      &__top-part {
        gap: 5rem;
      }
    }
  }

  .welcome-kidpaor {
    width: 100%;
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .site-use {
    width: 80%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .link-page {
    padding: 2rem 5rem;
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .home-page {
    &__content {
      top: 25%;
      right: 0;
      width: 100%;

      &__top-part {
        gap: 5rem;
      }
    }
  }

  .welcome-kidpaor {
    width: 80%;
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .site-use {
    width: 65%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .link-page {
    padding: 2rem 5rem;
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home-page {
    &__content {
      top: 25%;
      right: 0;
      width: 100%;

      &__top-part {
        gap: 5rem;
      }
    }
  }

  .welcome-kidpaor {
    width: 70%;
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .site-use {
    width: 60%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .link-page {
    padding: 2rem 5rem;
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .home-page {
    &__content {
      top: 25%;
      right: 0;
      width: 100%;

      &__top-part {
        gap: 5rem;
      }
    }
  }

  .welcome-kidpaor {
    width: 65%;
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .site-use {
    width: 55%;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .link-page {
    padding: 2rem 5rem;
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}
