.login-page {
  &__content {
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5rem;

    &__top-part {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__bottom-part {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 3.5rem;
    }

    &__button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4.6rem;
    }
  }
}

::ng-deep .return-link .t-wrapper {
  font-family: Mitr, 'sans-serif';
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  color: #FEF0CD;
  background: transparent;
  padding: 0 !important;
  transition: all .2s ease-in-out;
}

::ng-deep .return-link .t-wrapper:active {
  background: transparent;
  color: #fdebbb !important;
}

::ng-deep .return-link .t-wrapper:hover {
  background: transparent;
  color: #FFF4DF !important;
  transform: scale(1.05);
}

.kidpaor-title {
  font-family: Mitr, 'sans-serif';
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 6.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FEF0CD;
}

.kidpaor-title:hover {
  color: #FFF4DF;
}

.complete-form {
  font-family: Mitr, 'sans-serif';
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.1rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FEF0CD;
}

.complete-form-details {
  font-family: Mitr, 'sans-serif';
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  color: #FEF0CD;
}

.login-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;

  &__input {
    width: 100%;

    &__label {
      font-family: Mitr, 'sans-serif';
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.2em;
      color: #FDBF46;
    }

    &__button {
      display: flex;
      width: 100%;

      button {
        width: 100%;
        height: 7.5rem;
        border-radius: 3rem;
      }
    }

    tui-input {
      border-radius: 1rem;

      ::ng-deep .t-placeholder_raised {
        transform: translateY(-0.9rem) !important;
      }

      input {
        background: #FEF0CD;
      }
    }

    tui-input-password {
      border-radius: 1rem;

      ::ng-deep .t-icon {
        margin: 0 1rem;
        width: 2rem;
        height: 2rem;
        font-size: 1.3rem;
      }

      ::ng-deep .t-placeholder_raised {
        transform: translateY(-0.9rem) !important;
      }

      ::ng-deep .t-icon tui-svg {
        color: #FDBF46;
      }

      input {
        background: #FEF0CD;
      }
    }
  }
}

::ng-deep .login-button .t-wrapper {
  font-family: Mitr, 'sans-serif';
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  color: #FEF0CD;
  background: #FDBF46;
  padding: 2rem 0 !important;
  transition: all .2s ease-in-out;
}

::ng-deep .login-button .t-wrapper:hover {
  background: #75512F;
  color: #FEF0CD !important;
}

::ng-deep .login-button .t-wrapper:active {
  background: #75512F;
  color: #F7D289 !important;
  transform: scale(0.9);
}
