<app-kidpaor-layout image="../../../assets/kidpaor-activities.png">
  <div class="activities-page__content">
    <div class="activities-page__content__wrapper">
      <div class="activities-page__content__wrapper__search">
        <tui-input
          tuiTextfieldIconLeft="tuiIconSearchLarge"
          #filter
          [formControl]="searchControl"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
        >
          <p class="search-label">{{ 'SearchLabel' | translate}}</p>
          <input
            tuiTextfield
            type="text"
          />
        </tui-input>
      </div>
      <div class="activities-page__content__wrapper__activities">
        <div class="activities-list">
          <div class="activities-list__categories">
            <div class="activities-list__categories__title">
              <tui-svg src="tuiIconMenuLarge" class="activities-list__categories__title__icon"></tui-svg>
              <p class="activities-list__categories__title__text">{{ 'Categories' | translate }}</p>
            </div>
            <div class="activities-list__categories__list">
              <div class="activities-list__categories__list__category" *ngFor="let category of categories">
                <tui-svg src="tuiIconCircle" class="activities-list__categories__list__category__icon"></tui-svg>
                <p class="activities-list__categories__list__category__name">{{ category.name | translate }}</p>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <tui-scrollbar>
            <div class="activities-list__activities" *tuiLet="(activities$ | async) as activities">
              <div *ngFor="let activity of activities! | customFilter : filter.value : filterBy" class="activities-list__activities__container">
                <app-activity-item [activity]="activity"></app-activity-item>
              </div>
            </div>
          </tui-scrollbar>
        </div>
      </div>
    </div>
  </div>
</app-kidpaor-layout>
